body {
  font-family: var(--font-family);
}
a {
  text-decoration: none;
}

.container {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  // color: var(--footer-text);
  @media screen and (min-width: 768px) {
    max-width: 618px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 882px;
  }
}

.hide-text {
  display: none;
}

button {
  padding: 0px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
p {
  margin: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
