@import './utils/variables';
@import './utils/mixin';
@import './base/base';
@import './components/header';
@import './components/theme';
@import './components/footer';
@import './components/modal';
@import './components/filmCards';
@import './components/btnUp';
@import './components/pagination';
@import './components/listOfParticipants'
