:root {
  --header-text: #ffffff;
  --title-text: #000000;
  --black-op-56: #00000056;
  --footer-text: #545454;
  --accent-color: #ff6b08;
  --modal-titles-color: #8c8c8c;
  --rating-color: #ff6b01;
  --backgr-footer: #f7f7f7;

  --font-family: 'Roboto', sans-serif;
}
