<div class="footer-thumb">
  <div id="tui-pagination-container" class="tui-pagination"></div>

  <footer class="footer">
    <div class="container">
      <h2 class="visually-hidden">footer Filmoteka</h2>

      <ul class="footer-caption">
        <li class="footer-caption__text">&copy; 2021 | All Rights Reserved |</li>
        <li class="footer-caption__text">
          Developed with
          <svg width="14px" height="12.88px" class="footer-caption__img">
            <use href="./images/svg/symbol-defs.svg#icon-heart"></use>
          </svg>
          by <span class="footer-text-dec">GoIT Students</span>
        </li>
      </ul>
    </div>
  </footer>
</div>
