<div class="genres-input">
  <input
    class="genres-input__field"
    type="text"
    name="film"
    placeholder="Поиск фильмов по жанрам"
  />
  <svg width="12px" height="12px" class="header-input__image">
    <use href="./images/svg/symbol-defs.svg#icon-search"></use>
  </svg>
  <ul class="genres-list"></ul>
</div>

<!-- <ul class="js-example-basic-multiple" name="states[]" multiple="multiple">
  <li value="0">Выберите жанр</li>

  <li value="28">Action</li>
  
  <li value="12">Adventure</li>
  
  <li value="16">Animation</li>
  
  <li value="35">Comedy</li>
  
  <li value="80">Crime</li>
  
  <li value="99">Documentary</li>
  <li value="18">Drama</li>

  <li value="10751">Family</li>

  <li value="14">Fantasy</li>story</li>

  <li value="27">Horror</li>

  <li value="10402">Music</li>

  <li value="9648">Mystery</li>

  <li value="10749">Romance</li>

  <li value="878">Science Fiction</li>

  <li value="10770">TV Movie</li>

  <li value="53">Thriller</li>

  <li value="10752">War</li>

  <li value="37">Western</li>
</ul>
<script>$(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});</script> -->
