<!-- <div class="genres-input">
  <input
    class="header-input__field"
    type="text"
    name="film"
    placeholder="Поиск фильмов по жанрам"
  />
  <svg width="12px" height="12px" class="header-input__image">
    <use href="./images/svg/symbol-defs.svg#icon-search"></use>
  </svg>

  <ul class="genres-list"></ul>
</div> -->

<ul id="with_genres" class="multi_select text" name="with_genres[]">
  <li data-value="28"><a class="no_click" href="/discover/movie?with_genres=28">Action</a></li>

  <li data-value="12"><a class="no_click" href="/discover/movie?with_genres=12">Adventure</a></li>

  <li data-value="16"><a class="no_click" href="/discover/movie?with_genres=16">Animation</a></li>

  <li data-value="35"><a class="no_click" href="/discover/movie?with_genres=35">Comedy</a></li>

  <li data-value="80"><a class="no_click" href="/discover/movie?with_genres=80">Crime</a></li>

  <li data-value="99"><a class="no_click" href="/discover/movie?with_genres=99">Documentary</a></li>

  <li data-value="18"><a class="no_click" href="/discover/movie?with_genres=18">Drama</a></li>

  <li data-value="10751">
    <a class="no_click" href="/discover/movie?with_genres=10751">Family</a>
  </li>

  <li data-value="14"><a class="no_click" href="/discover/movie?with_genres=14">Fantasy</a></li>

  <li data-value="36"><a class="no_click" href="/discover/movie?with_genres=36">History</a></li>

  <li data-value="27"><a class="no_click" href="/discover/movie?with_genres=27">Horror</a></li>

  <li data-value="10402"><a class="no_click" href="/discover/movie?with_genres=10402">Music</a></li>

  <li data-value="9648"><a class="no_click" href="/discover/movie?with_genres=9648">Mystery</a></li>

  <li data-value="10749">
    <a class="no_click" href="/discover/movie?with_genres=10749">Romance</a>
  </li>

  <li data-value="878">
    <a class="no_click" href="/discover/movie?with_genres=878">Science Fiction</a>
  </li>

  <li data-value="10770">
    <a class="no_click" href="/discover/movie?with_genres=10770">TV Movie</a>
  </li>

  <li data-value="53"><a class="no_click" href="/discover/movie?with_genres=53">Thriller</a></li>

  <li data-value="10752"><a class="no_click" href="/discover/movie?with_genres=10752">War</a></li>

  <li data-value="37"><a class="no_click" href="/discover/movie?with_genres=37">Western</a></li>
</ul>
