<header class="header-home-img">
  <h1 class="visually-hidden">project Filmoteka</h1>
  <div class="container">
    <h2 class="visually-hidden">header Filmoteka</h2>
    <nav class="header-nav">
      <div class="header-logo">
        <a href="./index.html">
          <svg class="logo-svg" width="24px" height="24px">
            <use href="./images/svg/symbol-defs.svg#icon-film"></use>
          </svg>
          <p class="header-logo__text">Filmoteka</p>
        </a>
      </div>

      <div class="header-nav__list">
        <ul class="nav-list">
          <li class="nav-list__item">
            <button type="button" class="header-home__btn current">Home</button>
          </li>
          <li class="nav-list__item">
            <button type="button" class="header-library__btn">my library</button>
          </li>
        </ul>
      </div>
    </nav>

    <div class="header-input">
      <input class="header-input__field" type="text" name="film" placeholder="Search movies" />
      <svg width="12px" height="12px" class="header-input__image">
        <use href="./images/svg/symbol-defs.svg#icon-search"></use>
      </svg>
    </div>

    <div class="library-buttons is-hidden">
      <ul class="library-buttons__list">
        <li class="library-buttons__item">
          <button type="button" class="library-btn current-btn" data-name="watched">Watched</button>
        </li>
        <li class="library-buttons__item">
          <button type="button" class="library-btn" data-name="queue">queue</button>
        </li>
      </ul>
    </div>
    <include src="./partials/theme.html"></include>
  </div>
</header>
