.container_movie {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 1024px;
  padding-left: 71px;
  padding-right: 71px;
}

.card__collection {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}
