.card {
  border: none;
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms linear;
  margin: 15px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    max-width: 280px;
  }

  @media screen and(min-width: 768px) and (max-width: 1023px) {
    max-width: 294px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 274px;
  }

  // @media screen and (min-width: 320px) and (max-width: 767px) {
  //   flex-basis: calc(100% / 1 - 40px);
  // }

  // @media screen and(min-width: 768px) and (max-width: 1023px) {
  //   flex-basis: calc(100% / 2 - 30px);
  // }

  // @media screen and (min-width: 1024px) {
  //   flex-basis: calc(100% / 3 - 30px);
  // }

  &:focus,
  &:hover {
    transform: scale(1.03);
    // box-shadow: 0px 8px 43px rgba(255, 106, 0, 0.7);
    // border-radius: 1%;
  }

  &__img {
    border-radius: 5px;
    margin-bottom: 10px;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      width: 280px;
      height: 402px;
    }

    @media screen and(min-width: 768px) and (max-width: 1023px) {
      width: 294px;
      height: 398px;
    }

    @media screen and (min-width: 1024px) {
      width: 274px;
      height: 398px;
    }
  }

  &__name,
  &__info {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
  }

  &__item {
    position: relative;
  }

  &__vote_average {
    bottom: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.17;
    color: var(--header-text);
    background-color: var(--accent-color);
    border-radius: 5px;
  }

  &__collection {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.card__name {
  text-transform: uppercase;
}
.card__info {
  color: var(--accent-color);
}

.cards {
  display: flex;
  justify-content: flex-end;

  &-list {
    margin-bottom: 60px;
  }
}
