.footer {
  height: 100px;
  background-color: var(--backgr-footer);
  margin-top: 20px;

  @media screen and(min-width: 768px) {
    height: 77px;
  }

  &-caption {
    padding: 0px;
    padding-top: 29px;

    text-align: center;

    &__img {
      margin-left: 10px;
      margin-right: 10px;
    }

    @media screen and (min-width: 768px) {
      @include flex(center);
      flex-wrap: nowrap;
      padding-top: 30px;
    }

    &__text {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.17;
      color: var(--footer-text);

      &:last-child {
        margin-top: 10px;

        @media screen and(min-width: 768px) {
          margin-left: 3px;
          margin-top: 0px;
        }
      }

      @media screen and(min-width: 768px) {
        font-size: 16px;
      }
    }
  }

  &-text-dec {
    text-decoration: underline;
    text-decoration-color: var(--footer-text);
  }
}

.footer-thumb {
  margin-top: auto;
}

.wrapper {
  min-height: 100vh;
  @include flex();
  flex-direction: column;
}
