// home page background image

.header-home-img {
  min-width: 100%;
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  background-image: linear-gradient(to right, var(--black-op-56), var(--black-op-56)),
    url('../images/header-images/mobile-chairs1x.jpg');
  background-size: cover;

  @media screen and(min-width:768px) {
    // margin-bottom: 20px;

    // max-width: 768px;
    background-image: linear-gradient(to right, var(--black-op-56), var(--black-op-56)),
      url('../images/header-images/tablet-chairs1x.jpg');
    background-size: cover;
  }

  @media screen and(min-width:1024px) {
    // max-width: 1024px;
    background-image: linear-gradient(to right, var(--black-op-56), var(--black-op-56)),
      url('../images/header-images/chairs1x.jpg');
    background-size: cover;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header-home-img {
    background-image: linear-gradient(to right, var(--black-op-56), var(--black-op-56)),
      url('../images/header-images/mobile-chairs2x.jpg');
  }

  @media screen and(min-width:768px) {
    .header-home-img {
      background-image: linear-gradient(to right, var(--black-op-56), var(--black-op-56)),
        url('../images/header-images/tablet-chairs2x.jpg');
    }
  }

  @media screen and(min-width:1024px) {
    .header-home-img {
      background-image: linear-gradient(to right, var(--black-op-56), var(--black-op-56)),
        url('../images/header-images/chairs2x.jpg');
    }
  }
}

// my library background image

.header-library-img {
  min-width: 100%;
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  background-image: linear-gradient(to right, var(--black-op-56), var(--black-op-56)),
    url('../images/header-images/mob.lib1x.jpg');
  background-size: cover;

  @media screen and(min-width:768px) {
    margin-bottom: 60px;

    // max-width: 768px;
    background-image: linear-gradient(to right, var(--black-op-56), var(--black-op-56)),
      url('../images/header-images/tabl.lib1x.jpg');
    background-size: cover;
  }

  @media screen and(min-width:1024px) {
    // max-width: 1024px;
    background-image: linear-gradient(to right, var(--black-op-56), var(--black-op-56)),
      url('../images/header-images/desc.lib1x.jpg');
    background-size: cover;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header-library-img {
    background-image: linear-gradient(to right, var(--black-op-56), var(--black-op-56)),
      url('../images/header-images/mob.lib2x.jpg');
  }

  @media screen and(min-width:768px) {
    .header-library-img {
      background-image: linear-gradient(to right, var(--black-op-56), var(--black-op-56)),
        url('../images/header-images/tabl.lib2x.jpg');
    }
  }

  @media screen and(min-width:1024px) {
    .header-library-img {
      background-image: linear-gradient(to right, var(--black-op-56), var(--black-op-56)),
        url('../images/header-images/desc.lib2x.jpg');
    }
  }
}

.header-logo {
  display: inline-block;
}

.header-logo__text {
  display: none;

  @media screen and(min-width:768px) {
    display: inline-block;
    color: var(--header-text);
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
  }
}

.logo-svg {
  vertical-align: baseline;
}

.header-nav__list {
  display: inline-block;
}

.nav-list {
  display: flex;
  padding: 0px;
}

.nav-list__item:first-child {
  margin-right: 39px;
}

.header-nav {
  @include flex(space-between, baseline);
  padding-top: 46px;
}

.header-home__btn,
.header-library__btn {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.17;

  background-color: transparent;
  border: none;
  color: var(--header-text);
}

.header-home__btn:hover,
.header-library__btn:hover {
  color: var(--accent-color);
  cursor: pointer;
  @include transition(color);
}

.header-home__btn:focus,
.header-library__btn:focus {
  outline: none;
}

// header input styles

.header-input {
  position: relative;
  margin-bottom: 44px;

  @media screen and(min-width:768px) {
    width: 336px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header-input__field {
  margin-top: 40px;
  padding: 3px 5px;
  width: 100%;

  color: var(--header-text);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--header-text);

  @media screen and(min-width:768px) {
    width: 336px;
  }
}

// placeholder

::-webkit-input-placeholder {
  color: var(--header-text);
  font-weight: 400;
}
::-moz-placeholder {
  color: var(--header-text);
  font-weight: 400;
}
:-ms-input-placeholder {
  color: var(--header-text);
  font-weight: 400;
}
::-ms-input-placeholder {
  color: var(--header-text);
  font-weight: 400;
}
::placeholder {
  color: var(--header-text);
  font-weight: 400;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

.header-input__image {
  position: absolute;
  bottom: 10%;
  right: 1%;
}

.current {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: -1%;
    bottom: -20%;

    height: 3px;
    width: 100%;

    background-color: var(--accent-color);
  }
}

.is-hidden {
  display: none;
}

// header. library buttons

.library-buttons {
  margin-top: 45px;
  margin-bottom: 20px;
}

.library-buttons__list {
  @include flex(center, baseline);
}

.library-buttons__item:first-child {
  margin-right: 15px;
}

.library-btn {
  padding: 14px 40px 12px 40px;

  background-color: transparent;
  color: var(--header-text);
  border: 1px solid var(--header-text);
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;

  &:hover,
  &:focus {
    background-color: var(--rating-color);
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    border-color: var(--rating-color);
    cursor: pointer;
    @include transition(border-color);
    @include transition(background-color);
    @include transition(filter);
  }
}

.current-btn {
  background-color: var(--rating-color);
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  border-color: var(--rating-color);
  cursor: pointer;
}
