body.dark-theme {
  background-color: #616060;
  color: var(--header-text);
}

body.light-theme {
  background-color: var(--header-text);
  color: #000000;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
}
@media screen and(min-width:320px) {
  .toolbar {
    justify-content: center;
  }
}
@media screen and(min-width:768px) {
  .toolbar {
    justify-content: flex-end;
  }
}

/* THEME SWITCH */
.theme-switch {
  display: flex;
  align-items: center;
}

.theme-switch__icon {
  color: var(--header-text);
  height: 22px;
  width: 22px;
  margin-right: 8px;
  margin-left: 8px;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 44px;
  height: 22px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #d3d3d4;

  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: var(--header-text);
  width: 20px; //
  height: 20px; //
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(23px); //
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: #333;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(1px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 3px #ff6b01;
}
